@use 'sass:math';
.tag {
  border: 1px solid $black;
  text-transform: uppercase;
  @include r('padding', 4.5px 9px);
  @include r('border-radius', 12px);
  @include r('margin-right', 6px);
}

.btn {
  border: 1px solid $black;
  text-transform: uppercase;
  @include r('padding', 4.5px 9px);
  @include r('border-radius', 12px);
  cursor: pointer;
  @include transition('background, color');
  color: $black;
  &:hover, &.active {
    background: $black;
    color: $yellow;
  }
  &:disabled {
    pointer-events: none;
  }
  &.active:hover {
    background: $yellow;
    color: $black;
    border: 1px solid $black;
    a, a:visited {
      color: $black !important;
    }
  }
  &.with-image {
    @include r('padding', 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    &:hover {
      img {
        filter: invert(1);
      }
    }
  }
}
button.btn {
  background: transparent;
  -webkit-appearance: none;
  outline: 0;
  font-family: 'Neue Montreal';
  @include m-font-size(12, 15);
}

.link {
  cursor: pointer;
}

@import 'components/form';
@import 'components/related';
@import 'components/video';
@import 'components/html-content';
@import 'components/toast';
