@import './_reset';
@import './_mixins';
@import './_typography';
@import './_variables';

body {
  font-family: 'Neue Montreal';
  background: rgb(255,251,237);
  background: linear-gradient(180deg, $light-gray 0%, $yellow 80%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

a, a:visited {
  color: $black;
}
