@import './_reset';
@import './_mixins';
@import './_typography';
@import './_variables';
@import './_components';

html {
}
body {
  font-family: 'Neue Montreal';
  background: rgb(255,251,237);
  background: linear-gradient(180deg, $light-gray 0%, $yellow 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  color: $black;
  overflow-x: hidden;
  @include m-font-size(12, 15);
  @include transition('background, color');
  &.is-night {
    background: linear-gradient(180deg, $color-black 0%, $color-dark-blue 49%, $color-light-blue 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

a, a:visited {
  color: $black;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar {
  background: linear-gradient(180deg, $light-gray 0%, $yellow 100%);
}
body.is-night {
  &::-webkit-scrollbar {
    background: linear-gradient(180deg, $color-black 0%, $color-dark-blue 49%, $color-light-blue 100%);
  }
  .real-avatar, .single-mouth, .single-eye {
    filter: invert(1);
  }
  .btn.with-image {
    img {
      filter: invert(1);
    }
    &:hover {
      img {
        filter: invert(0);
      }
    }
  }
}

*::-webkit-scrollbar-track {
}

*::-webkit-scrollbar-thumb {
  background-color: $black;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}
