.login-register {
  input[type="text"], input[type="email"], input[type="password"] {
    font-family: 'Neue Montreal';
    @include col(1 of 1, 0);
    border: none;
    border-bottom: 1px solid $black;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
    @include m-font-size(20, 28);
    color: $black;
    background: $white;
  }
  button {
    font-family: 'Neue Montreal';
  }
  .send-wrapper {
    @include col(1 of 1, 0);
    position: relative;
    @include r('margin-bottom', 10px);
    button {
      background: $white;
      position: absolute;
      @include r('bottom', 2px);
      right: 0;
      &:hover {
        background: $black;
      }
    }
  }
  .terms {
    @include r('margin-top', 20px);
  }
}
