.html-content {
  h1 {
    &:first-child {
      display: none;
      & + .video {
        display: none;
      }
    }
  }
  h2, h3, h4 {
    @include m-font-size(14, 17);
    @include col(2 of 10);
    clear: left;
    float: left;
    transform: translateY(#{relative-size(4px)});
    @include mobile-tablet {
      @include font-size(14, 17);
      @include col(1 of 1);
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
  h2 {
    font-weight: 600;
    text-transform: initial;
  }
  p,
  ul,
  ol,
  .hint,
  blockquote,
  .embed-responsive,
  table,
  .file,
  .tabs {
    @include m-font-size(20, 26);
    @include r('margin-bottom', 20);
    @include col(6 of 10);
    float: left;
    @include mobile-tablet {
      @include font-size(18, 23);
      @include col(1 of 1);
    }
    & + p,
    & + ul,
    & + ol,
    & + .hint,
    & + blockquote,
    & + .embed-responsive,
    & + table,
    & + .file,
    & + .tabs {
      @include col-before(2 of 10);
      @include mobile-tablet {
        margin-left: 0;
      }
    }
  }
  blockquote, .hint {
    p {
      width: 100%;
      border-left: 4px solid $black;
    }
    &.hint {
      p:before {
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $black;
      }
      &.is-success {
        p:before {
          background: green;
        }
      }
      &.is-info {
        p:before {
          background: black;
        }
      }
      &.is-warning {
        p:before {
          background: yellow;
        }
      }
      &.is-danger {
        p:before {
          background: red;
        }
      }
    }
  }
  .embed-responsive {
    &.is-16by9 {
      padding-top: 37.25%
    }
    iframe {
      width: calc(100% - #{relative-size($default-gutter)});
      margin-left: math.div(relative-size($default-gutter), 2);
    }
    .caption {
      position: absolute;
      left: 100%;
      top: 0;
      @include m-font-size(14, 17);
      @include col(1.5 of 6);
      @include col-before(0.5 of 6);
      @include mobile-tablet {
        @include font-size(14, 17);
        @include col(1 of 1);
        margin-left: 0;
      }
    }
  }
  .file {
    a, a:visited {
      @include m-font-size(14, 17);
      text-transform: uppercase;
      text-decoration: underline;
      padding-left: math.div(100%, 6);
      @include mobile-tablet {
        @include font-size(14, 17);
        padding-left: 0;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: calc(60% - #{relative-size($default-gutter)});
    transform: translateX(math.div(relative-size($default-gutter), 2));
    th, td {
      @include m-font-size(14, 17);
      border-bottom: 1px solid $black;
      border-right: 1px solid $black;
      @include r('padding', 5px);
      @include mobile-tablet {
        @include font-size(14, 17);
      }
      &:first-child {
        border-left: 1px solid $black;
      }
    }
    th {
      background: rgba($black, 0.2);
      border-top: 1px solid $black;
    }
  }
}
