.related {
  width: 100%;
  float: left;
  &:not(:last-child) {
    @include r('margin-bottom', 120);
  }
  h4 {
    @include col(1 of 1);
    @include r('margin-bottom', 15);
  }
  .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .workshop-preview, .course-preview {
      @include col(4 of 10);
      &.featured {
        @include col(6 of 10);
      }
    }
  }
}
